<div data-test="content-body">
  About the service called PayCalculator, which has two functions. 
  One is PaySplit, which divides the total amount by the number of people to calculate the payment amount per person. 
  The other is PayTotal, which calculates the total amount collected when the number of people and payment amount per person are entered.
</div>
